/JavaApplication26/nbproject/private/
/CSC340Concordance/nbproject/private/
/CSC340Concordance/build/
/CSC340Concordance/dist/
/CSC567Animation/nbproject/private/
/CSC567Animation/dist/
/CSC567Animation/build/
*.txt